body{
	background-color: #e9ecf3;
	font-family: 'Roboto', sans-serif;
}
input,
select,
textarea{
    background: #fff;
    width: 100%;
    height: 45px;
    display: inline-table;
    padding: 15px 10px;
    border: 1px solid #e4e8eb;
    outline: none;
    vertical-align: middle;
    line-height: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.margin-0{margin:0;}
.padding-0{padding:0;}
.btn-primary {
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    background-color: #ff5050;
    padding: 10px 35px;
    border: none;
}
.btn-primary:hover{
    background-color: #e03534;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active{
    background-color: #e03534 !important;
    border: 1px solid #9e1e1e;
}
.reset-button{
	border: 0;
	padding: 0;
	background-color: transparent;
}
.portlet{
    border: 1px solid #bac3cc;
    background-color: #fff;
    padding: 15px;
}
.portlet-title > i {
    position: absolute;
    font-size: 22px;
    color: #ff5050;
    top: 1px;
}
.portlet-title {
    position: relative;
    border-bottom: 1px solid #bac3cc;
}
.portlet-title > h2 {
    padding-left: 30px;
    font-size: 24px;
    text-transform: uppercase;
}
.portlet-body {
    padding-top: 10px;
    overflow: auto;
}
.portlet-body form {
    overflow: auto;
    padding: 15px 0;
    margin: 0 auto;
}
.portlet-body form > div {
    margin: 10px 0;
}

.portlet-body form > div > label {
    text-transform: capitalize;
}
.table>thead>tr>th{
	border-bottom: none;
}
#listagem-vendedor i {
    font-size: 25px;
}
.dataTables_wrapper{
	max-width: calc(100% - 10px);
}